@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dbaiyx');
  src:  url('fonts/icomoon.eot?dbaiyx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dbaiyx') format('truetype'),
    url('fonts/icomoon.woff?dbaiyx') format('woff'),
    url('fonts/icomoon.svg?dbaiyx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e94e";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-arrow-up:before {
  content: "\ea32";
}
